@model IEnumerable<MVC_Viernes.Models.Libro>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Isbn</th>
        <th>Titulo</th>
        <th>TipoLibro</th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>@item.ISBN</td>
    <td>@item.Titulo</td>
    <td>@item.TipoLibro</td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ISBN }) |
        @Html.ActionLink("Details", "Details", new { id = item.ISBN }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ISBN })
    </td>
</tr>
}

</table>
